<!--#  bug_title   :string(255)
#  bug_type    :string(255)
#  version     :string(255)
#  product     :string(255)
#  description :text(255)
#  steps       :text(255)
#  priority    :string(255)-->
<% if current_user.authouser? || current_user.intuser? %>
  <% provide(:title, 'Bug Report') %>
  <h1>Please report your annoying little thing to daddy</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@bug) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :bug_title %>
        <%= f.text_field :bug_title %>

        <%= f.label :bug_type %>
        <%= f.collection_select :bug_type, Bug::BUGTYPE, :to_s, :to_s, :include_blank => false %>

        <%= f.label :priority %>
        <%= f.collection_select :priority, Bug::PRIORITY, :to_s, :to_s, :include_blank => false %>

        <%= f.label :product %>
        <%= f.text_field :product %>

        <%= f.label :version %>
        <%= f.text_field :version %>

        <%= f.label :description %>
        <%= f.text_area :description, :size => 5 %>


        <%= f.label "Steps to reproduce the bug, if it's possible" %>
        <%= f.text_area :steps %>


        <%= f.submit "Create the bug", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <% provide(:title, "403" ) %>
  <h2>Sorry, you don't have the rights. Please contact the administrators.</h2>
<% end %>